h1{
  color: rgb(224, 195, 250);
  text-align: center;
  margin: 20px 0px;
  font-size: 30px;
}

.todo-counter-number
{
  animation: colorEffect 2s linear 0s infinite alternate both running;
}

@keyframes colorEffect
{
  0% {
    color: rgb(213, 67, 67);
  }

  25%{
    color: rgb(209, 90, 124);
  }

  50%{
    color: rgb(94, 92, 188);
  }

  75%{
    color: rgb(62, 147, 208);
  }

  100%{
    color: rgb(160, 84, 226);
  }
}